@charset "UTF-8";
*{color:white;}

.scrollbar::-webkit-scrollbar {
width: 0;
}

body{
	margin:0;
	padding:0;
	font-family: "微軟正黑體";
	min-width:800px;
	background-image: url(../images/background2.jpg);
    background-repeat: repeat-y;
	background-size:cover;
	}
	
h2 {
	margin-top:20px;
	margin-bottom:10px;
}

input{
	color:black;
}
nav ul{
	overflow:visible;
	position: fixed;
    float: left;
	font-family: "微軟正黑體";
	font-size:20px;
	padding-left:5%;
	padding-top:100px;
	line-height: 40px;
    margin: 0;
    width: 15%;
	list-style-type:none;'
}

nav li a{
    display:block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}


nav li a:hover{
    background-color: #555;
    color: white;
}
table{
	font-size:22px;
}
.btn{
	padding:10px 20px 10px 30px;
	border: #FFF 1px solid;
	text-align:center;
	color:#fff;
	font-size:15px;
	letter-spacing: 10px;
	border-radius: 3px;
	background:#1c292b;
	font-family: "微軟正黑體";
	cursor:pointer;
	}
.btn:hover {
	background:#2c3c3f;
}
.btcheck{
	width:48px;
	height:25px;
	border: #FFF 1px solid;
	text-align:center;
	color:#fff;
	border-radius: 5px;
	background:none;
	font-family: "微軟正黑體";
	cursor:pointer;
	}
.min{
	width:25px;
	height:25px;
	border: #FFF 1px solid;
	text-align:center;
	color:#fff;
	background:none;
	font-family: "微軟正黑體";
	font-weight:bold;
	cursor:pointer;
	}
.add{
	width:25px;
	height:25px;
	border: #FFF 1px solid;
	text-align:center;
	color:#fff;
	background:none;
	font-family: "微軟正黑體";
	font-weight:bold;
	cursor:pointer;
	}
.text_box{
	width:25px;
	height:25px;
	border: #FFF 1px solid;
	text-align:center;
	color:black;
	background:white;
	font-family: "微軟正黑體";
	font-weight:bold;
	}
.center {
    margin-left: auto;
    margin-right: auto;
}
#main-box{
	background:#1c292b;
	margin: 5% auto 1% auto;
	padding: 2% 0 2% 0;
	text-align:center;
	border-radius: 6px;
	width:450px;
	}

.footer{
	color:#000000;
	font-size:75%;
	text-align:center;
	font-weight:bold;
	padding-bottom: 15px;
	}

ul.main-btn{ 
	list-style-type:none; 
	padding:0; 
	margin:0 40px; 
	text-align:left; 
	color:#fff;
	}
ul.main-btn li{
	padding:10px 10px 0 0; 
	display:inline-block;  
	}

main-btn li{
	font-size:17px;
	}
.info-text{ /*首頁下面超連結*/
	font-size: 15px; 
	margin: 0px;
	}
.info-text a:visited {
    color: #ff9c66;
}

.info-text a:hover {
    color: white;
	font-size: 120%;
}

.midtext-text{ /*首頁中間 ///*/
	font-family: "微軟正黑體"; 
	font-weight:bold; 
	letter-spacing: 6px; 
	font-size: 22px; 
	margin: 16px auto ;
	}
.midtext-text p{ 
	margin: 5px 0; 
	padding-left: 2px;
	}
	
h5 {
    text-align: right;
    margin: 0px 30px 10px 0px;
}




